* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page background */
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f5f5f5;
}
/* Main gallery container */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px 1fr));
  gap: 10px;
  padding: 10px;
}

/* Featured big Image*/
.display img {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  transition: 0.3s ease;
}

/*Thumbnails row */
.thumbnails {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/*Thumbnails images */
.thumbnails img {
  width: 100px auto;
  height: 75px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s ease;
}

/* Hover effect for thumbnails */
.thumbnails img:hover {
  opacity: 1;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .gallery {
    gap: 6px;
  }
  .gallery img {
    border-radius: 5px;
  }
}
/* Extras ...*/
img {
  transition: opacity 0.3s ease-in-out;
}
img.hidden {
  opacity: 0;
}

.dark {
  background-color: rgba(0, 0, 0, 0.2);
  color: #f5f5f5;
}
