* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

.btn {
    border: none;
    font: inherit;
    background: none;
    cursor: pointer;
}


#open-code-modal {
    border-radius: 1000px;
    padding: 6px;
    margin: 10px;
    margin-top: 1rem;
    background: linear-gradient(orange, rgb(2, 211, 2));
    font-size: 2rem;
    border: 1mm solid green;
}

#close-code-modal {
    border: 1mm solid black;
    border-radius: 10px;
    padding: 0.5rem 1.2rem;
    margin: 15px;
}

dialog {
    padding: 2rem;
    margin: auto;
    opacity: 1;
    transition: all 0.4s allow-discrete;
    border-radius: 10px;
    border: none;
}
