h1 {
  color: hotpink;
  border-bottom: 1px dotted;
  border-bottom-color: purple;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  font-style: italic;
  font-size: 1.5em;
}

.outer {
  border: 5px solid purple;
}

ul {
  background-color: #eeeeee;
  border-color: solid purple;
  padding: 20px;
}

a:link a:visited {
  color: #fb6542;
}
a:hover {
  color: green;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.job-title {
  color: #999999;
  font-weight: bold;
}
