body {
  font-family: Arial, Helvetica, sans-serif;
}

.box-p {
  border: 3px solid black;
}

ul {
  border: 2px solid rebeccapurple;
  padding: 0.2em;
}

.block,
li {
  border: 2px solid blue;
  padding: 0.2em;
}

ul {
  display: flex;
  list-style: none;
}

.block {
  display: block;
}

.standardbox {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 150px;
}

.alternatebox {
  box-sizing: border-box;
  width: 350px;
  height: 150px;
  margin: 10px;
  padding: 25px;
  border: 5px solid blue;
  background-color: aqua;
}

.container {
  border: 5px solid rebeccapurple;
  margin: 40px;
}

.innercontainer {
  border: 5px solid blue;
  background-color: lightgray;
  padding: 10px;
  height: 100px;
  /* Try changing the margin properties: */
  margin-top: -40px;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
}

.borderbox {
  margin: 40ox;
  padding: 20px;
  border-top: 5px dotted green;
  border-right: 1px solid black;
  border-bottom: 20px double red;
}

.borderinnerbox {
  padding: 20px;
  background-color: lightgray;
  border: 1px solid #333333;
  border-top-style: dotted;
  border-right-width: 20px;
  border-bottom-color: hotpink;
}

footer + ul {
  font-family: sans-serif;
  display: flex;
  list-style: none;
  border: 1px solid #000;
}
li {
  margin: 5px;
}
.links-list a {
  background-color: rgb(179 57 81);
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  display: inline-block;
}
/*we've added 'a' after the pseudoselector to link the list to the link */

.links-list a:hover {
  background-color: rgb(66 28 40);
  color: #fff;
}

.wrapper {
  display: flex;
  align-items: flex-start;
}
.wrapper > * {
  margin: 20px;
}
.innerwrapper {
  border: 5px solid darkblue;
  min-height: 100px;
  width: 200px;
}
