body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
}

.letter {
  background-color: white;
  border-top: 1mm solid red;
  border-bottom: 1mm solid red;
  border-left: 1mm solid red;
  border-right: 1mm solid red;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0.2)
    ),
    url(../Images/letter-top.png) no-repeat center top,
    url(../Images/letter-bottom.png) no-repeat center bottom;
  background-size: 100% auto, 100% auto, 100% auto;
}

.letter {
  max-width: 800px;
  height: 900px;
  margin: 0 auto;
  padding: 3em 2em;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
}

article {
  padding-top: 90px;
  padding-bottom: 90px;
}

.logo {
  /*filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5)); */
  width: 90px;
  height: 90px;
  object-fit: contain;
  position: absolute;
  top: 50px;
  left: 50px;
  border-radius: 50%;
}
