* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height: 100vh;
    padding: 2rem;
}

.card{
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    background: #1c1f2b;
    color: white;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.card::after, .card::before{
    --angle: 0deg;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-image: conic-gradient(#ff4545,rgb(60, 253, 60),blue, #ff0095,#ff4545); */
    background-image: conic-gradient(from var(--angle), #ff4545,rgb(60, 253, 60),blue, #ff0095,#ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
.card::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

