* {
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
    background: none;
    border: none;
    border-radius: 5px;
    font: inherit;
    cursor: pointer;
}

#open-modal {
    font-size: 2rem;
    border: 1mm solid rebeccapurple;
    border-radius: 1000px;
    position: fixed;
    padding: 8px;
    background: linear-gradient(rgba(0, 0, 255, 0.658), rgba(255, 0, 0, 0.521));
    top: 50px;
    left: 50px;
}

dialog {
    margin: auto;
    padding: 2rem;
    border: none;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.4s allow-discrete;
}

dialog[open] {
    opacity: 1;
}

@starting-style {
    dialog[open] {
        opacity: 0;
    }
}

dialog::backdrop {
    background-color: rgba(0,0,0,0);
    transition: all 0.4s allow-discrete;
}

dialog[open]::backdrop {
    background-color: rgba(0,0,0,0.8);
}

@starting-style {
    dialog[open]::backdrop {
        background-color: rgba(0,0,0,0);
    }
}

.btn{
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 500;
}

.description{
    max-width: 40ch;
    margin: 1rem 0;
}