* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}    


.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0.5rem 1rem;
}

.navBar a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 0.75rem;
    font-size: 1rem;
}
.navBar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navBar li {
    margin-right: 20px;
}

.navBar a img {
    width: 18px;
    height: 18px;
    margin-right: 0.5rem;
}


.owlPic {
    img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
}

.crowPic {
    img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
}

.ostrichPic {
    img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
}

.chickenPic {
    img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
}

.penguinPic {
    img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
}

.parrotPic {
    img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
}