* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
}

nav{
    grid-area: navbar;
    top: 0;
    position: sticky;
    background-color: aqua;
    width: 100%;
    padding: 1rem;
}
aside{
    grid-area: sidebar;
    top: calc(100vh - 59px);
    position: sticky;
    align-self: start;
    background: rgb(128, 128, 128);
    height: 100%;
}
footer{
    margin-top: 1rem;
    grid-area: footer;
}
