:root {
    --background: #020617;
    --primary-color: #1c1D20;
    --secondary-color: #4A4D57;
    --accent-color: #00FFc4;
    --text-color: #F9F9F9;
}
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    line-height: 1.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    color: var(--text-color);
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    margin: 15px;
    position: relative;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 30px;
}

input[type="text"] {
    width: 100%;
    min-width: 700px;
    font-size: 1.2rem;
    border-radius: 1000px;
    background: none;
    border: 2px solid var(--secondary-color);
    padding: 5px;
    
}

input[type="checkbox"] ~ svg {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    cursor: pointer;
}


input[type="checkbox"] label {
    padding: 16px;
    background-color: var(--secondary-color);
}

#addBtn {
    position: absolute;
    top: 33px;
    right: 0;
    padding: 9px;
    
}

.delete svg {
    background: var(--background);
    border: none;
    fill:#4A4D57;
}